header
  nav.navbar.navbar-light.bg-light.justify-content-between.navbar-expand-md
    .container
      span.navbar-brand.mb-0.h1 MYStore
      span.navbar-brand.mb-0.h1 
        | Currently showing 
        span.orange(id="productsNumber") 8
        |  products


